
{% extends "admin_base.html" %}
{% load static %}
{% block title %}Dashboard-Attendance{% endblock %}

{% block content %}

<!--modeal section-->


<!--modddal end-->
<div class="card card-danger">
    <div class="card-header">
      <h4> ADD USERS </h4>
      <div class="card-header-action">
        <a href="" class="btn btn-danger btn-icon icon-right">View All <i class="fas fa-chevron-right"></i></a>
      </div>
    </div>
    <div class="card-body">
      <div class="owl-carousel owl-theme" id="users-carousel">
        <div>
          <div class="user-item">
            <img alt="image" src="{% static 'assets/img/users/user-1.png' %}" class="img-fluid">
            <div class="user-details">
              <div class="user-name">External Researchers </div>
              <div class="text-job text-muted">Web Developer</div>
              <div class="user-cta">
                <a href="" class="btn btn-danger btn-icon icon-right">ADD  <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="user-item">
            <img alt="image" src="{% static 'assets/img/users/user-2.png' %}" class="img-fluid">
            <div class="user-details">
              <div class="user-name"> Students </div>
              <div class="text-job text-muted"> undergraduate/ postgraduates </div>
              <div class="user-cta">
                 <a href="{% url 'add_students' %}" class="btn btn-danger btn-icon icon-right">ADD  <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="user-item">
            <img alt="image" src="{% static 'assets/img/users/user-3.png' %}" class="img-fluid">
            <div class="user-details">
              <div class="user-name">staff</div>
              <div class="text-job text-muted">Academic| Non academic </div>
              <div class="user-cta">
               <a href="{% url 'add_academic_staff' %}" class="btn btn-danger btn-icon icon-right">ADD
                 <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="user-item">
            <img alt="image" src="{% static 'assets/img/users/user-4.png' %}" class="img-fluid">
            <div class="user-details">
              <div class="user-name"> library content managers </div>
              <div class="text-job text-muted">uni. collection Manager</div>
              <div class="user-cta">
                <a href="{% url 'add_content_manager' %}" class="btn btn-danger btn-icon icon-right">ADD
                  <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="user-item">
            <img alt="image" src="{% static 'assets/img/users/user-5.png' %}" class="img-fluid">
            <div class="user-details">
              <div class="user-name">University Management </div>
              <div class="text-job text-muted">IT Support</div>
              <div class="user-cta">
                <a href="" class="btn btn-danger btn-icon icon-right">ADD  <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

                    {% endblock %}
