
{% extends "admin_base.html" %}
{% load static %}
{% block title %}Dashboard-Attendance{% endblock %}

{% block content %}
   <section class="section">
          <div class="section-body">
            <div class="row">
              <div class="col-8">
                <div class="card">
                  <div class="card-header">
                    <h4>UPLOAD AN EXCEL FILE FOR STUDENT RECORDS </h4>
                  </div>
                  <div class="card-body">
                    <form action="#" class="dropzone" id="mydropzone">
                      <div class="fallback">
                        <input name="file" type="file" multiple />
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
                    {% endblock %}