{% load static %}

<!-- ADMIN LEFT SIDE NAVBAR -->

      <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
          <a href="admin_dashboard.html">
  <img alt="image" src="{% static 'assets/img/logo.png' %}" class="header-logo" />
  <span class="logo-name">vunaweb  </span>
</a>
          </div>
          <ul class="sidebar-menu">
            <li class="menu-header">Main</li>
            <li class="dropdown active">
           <a href="{% url 'admin_dashboard' %}" class="nav-link">
  <i data-feather="monitor"></i>
  <span>Dashboard</span>
</a>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i
                  data-feather="briefcase"></i><span>Books </span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="{% url 'book_category' %}">book category </a></li>
                        <li><a class="nav-link" href="{% url 'approve_requests' %}">book shelf </a></li>
                        <li><a class="nav-link" href="{% url 'manage_user_roles' %}">to-read list</a></li>

              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="command"></i><span>Journals</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="{% url 'library_materials_category' %}">Add and Manage Digital Resources</a></li>


              </ul>
            </li>

            <li class="menu-header">SECONDARY </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="copy"></i><span>
                 Open Access  </span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="alert.html">Database Maintenance:</a></li>
                <li><a class="nav-link" href="badge.html">Monitor Content Usage </a></li>
                <li><a class="nav-link" href="breadcrumb.html">System Updates and Upgrades:</a></li>

              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i
                  data-feather="shopping-bag"></i><span>Reporting and Analytics</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="avatar.html">Generate Reports</a></li>
                <li><a class="nav-link" href="card.html">Track Content Trends</a></li>
                <li><a class="nav-link" href="modal.html">View System Health Metrics</a></li>

              </ul>
            </li>
            <li><a class="nav-link" href="blank.html"><i data-feather="file"></i><span>Blank Page</span></a></li>
            <li class="menu-header">security</li>
              <


          </ul>
        </aside>
      </div>
<!--ADMIN LEFT NAVBAR ENDS-->